body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  color: #ffcc00;
}

.container {
  padding: 20px;
  background-color: black;
  color: #ffcc00;
  text-align: center;
  position: relative;
}

.controls {
  margin-bottom: 20px;
}

.logo-top-center {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
}

.title {
  margin-top: 140px;
  color: #ffcc00;
}

.search-input {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ffcc00;
  border-radius: 5px;
  background-color: black;
  color: #ffcc00;
}

.table-wrapper {
  position: relative;
  margin-top: 20px;
}

.table-background {
  background-image: url('./girraphic.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.table-container {
  position: relative;
  z-index: 2;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

th, td {
  padding: 8px 12px;
  border: 1px solid #ffcc00;
}

th {
  cursor: pointer;
  background-color: #333;
}

th.ascending::after {
  content: ' ⬆';
}

th.descending::after {
  content: ' ⬇';
}

h1 {
  color: #ffcc00;
}

button.export-button {
  background-color: #ffcc00;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -70px;
}

img {
  margin-right: 5px;
}

.head-to-head {
  margin-top: 20px;
  padding: 20px;
  background-color: #222;
  color: #ffcc00;
  border: 1px solid #ffcc00;
}

.head-to-head table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

.head-to-head th, .head-to-head td {
  padding: 8px 12px;
  border: 1px solid #ffcc00;
}
