body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  color: #ffcc00;
}

.container {
  padding: 20px;
  background-color: black;
  color: #ffcc00;
  text-align: center;
  position: relative;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.logo-top-center {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
}

.title {
  margin-top: 170px;
  color: #ffcc00;
}

.search-input {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ffcc00;
  border-radius: 5px;
  background-color: black;
  color: #ffcc00;
}

.table-wrapper {
  position: relative;
  margin-top: 20px;
}

.table-background {
  background-image: url('./girraphic.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.table-container {
  position: relative;
  z-index: 2;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

th, td {
  padding: 8px 12px;
  border: 1px solid #ffcc00;
}

th {
  cursor: pointer;
  background-color: #333;
}

h1 {
  color: #ffcc00;
}

button.export-button {
  background-color: #ffcc00;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 8px;
  border-radius: 4px;
}

img {
  margin-right: 5px;
}

.head-to-head {
  margin-top: 20px;
  padding: 20px;
  background-color: #222;
  color: #ffcc00;
  border: 1px solid #ffcc00;
}

.head-to-head table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

.head-to-head th, .head-to-head td {
  padding: 8px 12px;
  border: 1px solid #ffcc00;
}

.completed-tick {
  color: #ffcc00;
  font-size: 20px;
}

.top-right-container {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
  color: #ffcc00;
}

@media (max-width: 600px) {
  .controls {
    flex-direction: column;
  }

  .search-input, .export-button {
    width: 40%;
    box-sizing: border-box;
  }

  .export-button {
    margin-top: 10px;
  }

  .top-right-container {
    position: static;
    margin-top: 20px;
  }

  .logo-top-center {
    position: static;
    margin-top: 20px;
  }

  .title {
    margin-top: 20px;
  }
}
